lockfile = true
save-exact = true
auto-install-peers = true
link-workspace-packages = false
strict-peer-dependencies = false
prefer-workspace-packages = false
node-linker = hoisted
shamefully-hoist = true