.docs-code-preview {
  > pre {
    padding-top: 50px !important;
  }
  .token.tag .token.punctuation,
  .token .tag {
    color: #a8d0ff;
  }
  .token .attr-name {
    color: #f1a19e;
  }
  .token .attr-value,
  .docs-code-preview .token .attr-value .punctuation,
  .token.template-string,
  .token.string {
    color: #78d092;
  }
  .token .attr-value .punctuation:first-child {
    color: #ffffff;
    padding: 0 2px;
  }
  .token.keyword.module,
  .token.keyword {
    color: #b586c3;
  }
  .token.maybe-class-name,
  .token.class-name {
    color: #e4bd77;
  }
  .token.method.function.property-access {
    color: #87eee6;
  }
  .token.comment {
    color: #7d7d7d;
  }
}
