@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Material Inputs */
  .md-input + label:after {
    content: "";
    @apply absolute top-0.5 left-0 w-full h-full pointer-events-none transform scale-x-0 border border-t-0 border-l-0 border-r-0 border-b-2 transition-all duration-300;
  }
  .md-input:focus + label:after {
    @apply scale-x-100;
  }
  .md-input:focus + label span,
  .md-input:not(:placeholder-shown) + label span {
    top: -14%;
    @apply text-xs leading-tight;
  }

  /* Material Input Outline */
  .md-input-outline:focus,
  .md-input-outline:not(:placeholder-shown) {
    border-top: transparent !important;
  }
  .md-input-outline + label {
    line-height: 3.625 !important;
  }
  .md-input-outline:focus + label,
  .md-input-outline:not(:placeholder-shown) + label {
    @apply text-xs leading-tight !important;
  }
  .md-input-outline + label:before,
  .md-input-outline + label:after {
    content: "";
    @apply block box-border mt-1.5 border border-t-2 border-b-0
      border-l-0 border-r-0 border-transparent w-2.5 h-2 pointer-events-none;
  }

  .md-input-outline:not(:placeholder-shown) + label:before,
  .md-input-outline:not(:placeholder-shown) + label:after {
    @apply border-t border-gray-300;
  }

  .md-input-outline:focus + label::before,
  .md-input-outline:focus + label::after {
    @apply border-t-2;
  }

  .md-input-outline + label:before {
    @apply mr-1 rounded-tl-lg;
  }
  .md-input-outline + label:after {
    @apply flex-grow ml-1 rounded-tr-lg;
  }

  /* Material Input Colors */
  .md-input-blue-gray-500:focus + label:after {
    @apply border-blue-gray-500;
  }
  .md-input-gray-500:focus + label:after {
    @apply border-gray-500;
  }
  .md-input-orange-500:focus + label:after {
    @apply border-orange-500;
  }
  .md-input-deep-orange-500:focus + label:after {
    @apply border-deep-orange-500;
  }
  .md-input-amber-500:focus + label:after {
    @apply border-amber-500;
  }
  .md-input-yellow-600:focus + label:after {
    @apply border-yellow-600;
  }
  .md-input-lime-500:focus + label:after {
    @apply border-lime-500;
  }
  .md-input-light-green-500:focus + label:after {
    @apply border-light-green-500;
  }
  .md-input-green-500:focus + label:after {
    @apply border-green-500;
  }
  .md-input-teal-500:focus + label:after {
    @apply border-teal-500;
  }
  .md-input-cyan-500:focus + label:after {
    @apply border-cyan-500;
  }
  .md-input-light-blue-500:focus + label:after {
    @apply border-light-blue-500;
  }
  .md-input-blue-500:focus + label:after {
    @apply border-blue-500;
  }
  .md-input-indigo-500:focus + label:after {
    @apply border-indigo-500;
  }
  .md-input-purple-500:focus + label:after {
    @apply border-purple-500;
  }
  .md-input-deep-purple-500:focus + label:after {
    @apply border-deep-purple-500;
  }
  .md-input-pink-500:focus + label:after {
    @apply border-pink-500;
  }
  .md-input-red-500:focus + label:after {
    @apply border-red-500;
  }

  /* Material Input Outline Colors */
  .md-input-outline-blue-gray-500:focus,
  .md-input-outline-blue-gray-500:focus + label,
  .md-input-outline-blue-gray-500:focus + label:before,
  .md-input-outline-blue-gray-500:focus + label:after {
    @apply border-blue-gray-500 text-blue-gray-500;
  }
  .md-input-outline-gray-500:focus,
  .md-input-outline-gray-500:focus + label,
  .md-input-outline-gray-500:focus + label:before,
  .md-input-outline-gray-500:focus + label:after {
    @apply border-gray-500 text-gray-500;
  }
  .md-input-outline-orange-500:focus,
  .md-input-outline-orange-500:focus + label,
  .md-input-outline-orange-500:focus + label:before,
  .md-input-outline-orange-500:focus + label:after {
    @apply border-orange-500 text-orange-500;
  }
  .md-input-outline-deep-orange-500:focus,
  .md-input-outline-deep-orange-500:focus + label,
  .md-input-outline-deep-orange-500:focus + label:before,
  .md-input-outline-deep-orange-500:focus + label:after {
    @apply border-deep-orange-500 text-deep-orange-500;
  }
  .md-input-outline-brown-500:focus,
  .md-input-outline-brown-500:focus + label,
  .md-input-outline-brown-500:focus + label:before,
  .md-input-outline-brown-500:focus + label:after {
    @apply border-brown-500 text-brown-500;
  }
  .md-input-outline-amber-500:focus,
  .md-input-outline-amber-500:focus + label,
  .md-input-outline-amber-500:focus + label:before,
  .md-input-outline-amber-500:focus + label:after {
    @apply border-amber-500 text-amber-500;
  }
  .md-input-outline-yellow-600:focus,
  .md-input-outline-yellow-600:focus + label,
  .md-input-outline-yellow-600:focus + label:before,
  .md-input-outline-yellow-600:focus + label:after {
    @apply border-yellow-600 text-yellow-600;
  }
  .md-input-outline-lime-500:focus,
  .md-input-outline-lime-500:focus + label,
  .md-input-outline-lime-500:focus + label:before,
  .md-input-outline-lime-500:focus + label:after {
    @apply border-lime-500 text-lime-500;
  }
  .md-input-outline-light-green-500:focus,
  .md-input-outline-light-green-500:focus + label,
  .md-input-outline-light-green-500:focus + label:before,
  .md-input-outline-light-green-500:focus + label:after {
    @apply border-light-green-500 text-light-green-500;
  }
  .md-input-outline-green-500:focus,
  .md-input-outline-green-500:focus + label,
  .md-input-outline-green-500:focus + label:before,
  .md-input-outline-green-500:focus + label:after {
    @apply border-green-500 text-green-500;
  }
  .md-input-outline-teal-500:focus,
  .md-input-outline-teal-500:focus + label,
  .md-input-outline-teal-500:focus + label:before,
  .md-input-outline-teal-500:focus + label:after {
    @apply border-teal-500 text-teal-500;
  }
  .md-input-outline-cyan-500:focus,
  .md-input-outline-cyan-500:focus + label,
  .md-input-outline-cyan-500:focus + label:before,
  .md-input-outline-cyan-500:focus + label:after {
    @apply border-cyan-500 text-cyan-500;
  }
  .md-input-outline-light-blue-500:focus,
  .md-input-outline-light-blue-500:focus + label,
  .md-input-outline-light-blue-500:focus + label:before,
  .md-input-outline-light-blue-500:focus + label:after {
    @apply border-light-blue-500 text-light-blue-500;
  }
  .md-input-outline-blue-500:focus,
  .md-input-outline-blue-500:focus + label,
  .md-input-outline-blue-500:focus + label:before,
  .md-input-outline-blue-500:focus + label:after {
    @apply border-blue-500 text-blue-500;
  }
  .md-input-outline-indigo-500:focus,
  .md-input-outline-indigo-500:focus + label,
  .md-input-outline-indigo-500:focus + label:before,
  .md-input-outline-indigo-500:focus + label:after {
    @apply border-indigo-500 text-indigo-500;
  }
  .md-input-outline-purple-500:focus,
  .md-input-outline-purple-500:focus + label,
  .md-input-outline-purple-500:focus + label:before,
  .md-input-outline-purple-500:focus + label:after {
    @apply border-purple-500 text-purple-500;
  }
  .md-input-outline-deep-purple-500:focus,
  .md-input-outline-deep-purple-500:focus + label,
  .md-input-outline-deep-purple-500:focus + label:before,
  .md-input-outline-deep-purple-500:focus + label:after {
    @apply border-deep-purple-500 text-deep-purple-500;
  }
  .md-input-outline-pink-500:focus,
  .md-input-outline-pink-500:focus + label,
  .md-input-outline-pink-500:focus + label:before,
  .md-input-outline-pink-500:focus + label:after {
    @apply border-pink-500 text-pink-500;
  }
  .md-input-outline-red-500:focus,
  .md-input-outline-red-500:focus + label,
  .md-input-outline-red-500:focus + label:before,
  .md-input-outline-red-500:focus + label:after {
    @apply border-red-500 text-red-500;
  }
}

/* Tippy Animation */
.tippy-box[data-animation="scale"] {
  transform-origin: top left !important;
}

/* Tippy Arrow */
.arrow-light .tippy-svg-arrow {
  fill: #fff;
}

.arrow-dark .tippy-svg-arrow {
  fill: rgba(0, 0, 0, 0.8);
}
