@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* base colors */
    --color-background: 255 255 255;
    --color-foreground: 75 85 99;
    --color-border: 229 231 235;

    /* primary color */
    --color-primary: 17 24 39;
    --color-primary-dark: 3 7 18;
    --color-primary-light: 31 41 55;
    --color-primary-foreground: 249 250 251;

    /* secondary color */
    --color-secondary: 243 244 246;
    --color-secondary-dark: 229 231 235;
    --color-secondary-light: 249 250 251;
    --color-secondary-foreground: 3 7 18;

    /* info color */
    --color-info: 37 99 235;
    --color-info-dark: 29 78 216;
    --color-info-light: 59 130 246;
    --color-info-foreground: 249 250 251;

    /* success color */
    --color-success: 22 163 74;
    --color-success-dark: 21 128 61;
    --color-success-light: 34 197 94;
    --color-success-foreground: 249 250 251;

    /* warning color */
    --color-warning: 250 204 21;
    --color-warning-dark: 234 179 8;
    --color-warning-light: 253 224 71;
    --color-warning-foreground: 3 7 18;

    /* error color */
    --color-error: 220 38 38;
    --color-error-dark: 185 28 28;
    --color-error-light: 239 68 68;
    --color-error-foreground: 249 250 251;

    /* border radius */
    --radius: 1.5rem;
  }

  .dark {
    /* base colors */
    --color-background: 249 250 251;
    --color-foreground: 156 163 175;
    --color-border: 31 41 55;

    /* primary color */
    --color-secondary: 243 244 246;
    --color-primary-dark: 229 231 235;
    --color-primary-light: 249 250 251;
    --color-primary-foreground: 3 7 18;

    /* secondary color */
    --color-secondary: 31 41 55;
    --color-secondary-dark: 17 24 39;
    --color-secondary-light: 55 65 81;
    --color-secondary-foreground: 249 250 251;

    /* info color */
    --color-info: 59 130 246;
    --color-info-dark: 96 165 250;
    --color-info-light: 37 99 235;
    --color-info-foreground: 3 7 18;

    /* success color */
    --color-success: 34 197 94;
    --color-success-dark: 22 163 74;
    --color-success-light: 74 222 128;
    --color-success-foreground: 3 7 18;

    /* warning color */
    --color-warning: 253 224 71;
    --color-warning-dark: 250 204 21;
    --color-warning-light: 254 240 138;
    --color-warning-foreground: 3 7 18;

    /* error color */
    --color-error: 239 68 68;
    --color-error-dark: 220 38 38;
    --color-error-light: 248 113 113;
    --color-error-foreground: 3 7 18;
  }
}

/* Rehype Pretty Code */
[data-rehype-pretty-code-fragment] {
  position: relative;
}

[data-rehype-pretty-code-fragment] pre {
  max-height: 32rem;
  margin: 0;
  padding: 0;
  margin-right: 0;
  border-radius: 0.5rem;
  border: 0;
  overflow: scroll;
}

.code-preview [data-rehype-pretty-code-fragment] pre {
  max-height: max-content;
  border: 0;
  background: transparent;
  padding: 12px 4px;
}

[data-rehype-pretty-code-fragment] .highlighted::after {
  content: " +";
  display: grid;
  align-items: center;
  width: calc(100% + 2.5rem);
  height: 100%;
  color: #4ade80;
  font-size: 0.875rem;
  position: absolute;
  top: 0;
  left: -1.25rem;
  z-index: 0;
  border-left: 0.2rem solid #4ade80;
  background-color: rgba(74, 222, 128, 0.1);
}

[data-rehype-pretty-code-fragment] .word {
  padding: 0.0875rem 0.125rem;
  border-radius: 0.25rem;
  background-color: rgba(74, 222, 128, 0.15);
}

[data-rehype-pretty-code-fragment] code {
  display: block;
  width: 100%;
  font-size: 1rem;
  counter-reset: line;
  background: transparent !important;
  border: 0;
  line-height: 1.5;
  font-family: "Fira Code", monospace;
}

table tbody tr td code {
  font-weight: 600;
}

[data-rehype-pretty-code-fragment] code .line {
  display: inline-block;
  width: 100%;
  position: relative;
}

[data-rehype-pretty-code-fragment] .line.highlighted span {
  position: relative;
  z-index: 2;
}

[data-rehype-pretty-code-fragment] code > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: rgba(255, 255, 255, 0.25);
}
